<div class="container">

<h1>Stupid Coaching</h1>

  <div class="wrapper">
    <div class="wrapper2">
      <h4><%= @questions%></h4>
      <h4>-You</h4>
    </div>
    <div class="wrapper3">
      <h5><%= @answer %></h5>
      <h4>-Your coach</h4>
   </div>

    <p> <%= link_to "Ask a new question", ask_path %> </p>
  </div>
</div>
